<header class="masthead">
<div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                   {{ content.body [0] |raw }}
                </div>
                <div class="row mobile-banner-view">
                    <div class="res-banner">
                        <img src="{{content.field_bannerimage[0]}}" alt="bnner"/>
                    </div>
                </div>
            </div>
			</header>